<div class="row">
  <div class="col-md-12">
    <h1><%= get_business_name %></h1>
    <p class="lead"><%= !@services.empty? ? 'Please select a service' : 'This business does not have services available' %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="services-list">
      <% @services.each do |service| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-8">
                  <h1><%= service.name %></h1>
                </div>
                <div class="col-md-4">
                  <%= link_to user_signed_in? ? 'Show' : 'Select', user_signed_in? ? service_path(service) : calendar_path(:service_id => service) , :class => "btn btn-primary btn-block" %>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 description">
                  <small>Description</small>
                  <p class="list-group-item-text"><%= service.description %></p>
                </div>
                <div class="col-md-3">
                  <small>Price</small>
                  <p class="price lead"> <%= number_to_currency service.price %></p>
                </div>
                <div class="col-md-3">
                  <small>Duration</small>
                  <p class="duration lead"><%= service.minutes_duration %> minutes</p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
        <div class="col-md-4">
          <%= link_to 'New Service', new_service_path, class: 'btn btn-info btn-lg btn-block' %>
        </div>
    <%end%>

  </div>

  <div class="col-md-4">
    <img src="http://placehold.it/300x200" class="img-responsive">
    <h4><%= "About #{get_business_name}" %></h4>
    <p><%= "#{get_business_description}" %></p>

    <h4>More information</h4>
    <p>Website url</p>
    <p>Facebook | Twitter | Instagram</p>
  </div>

</div><!-- row-->
<!--
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Minutes duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.price %></td>
        <td><%= service.minutes_duration %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
-->


