<div class="row">
  <div class="col-md-10">
    <h1>Bobs Hairdressers</h1>
    <p class="lead">Select an open appointment on the calendar</p>
    <p><%= link_to "New event", new_event_path, :class=>"btn btn-default" %> </p>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <div id='calendar'></div>
  </div>
  <div class="col-md-4">
    <small>Selected Date</small>
    <%if @event %>
        <h5> <%= "#{@event.title}" %></h5>
        <h4> <%= "#{ parse_datetime(@event.starts_at)}  to #{parse_datetime(@event.ends_at)}" %></h4>
        <div class="list-group">
          <% @event.time_slots.each do |time_slot| %>
              <a href="<%= time_slot_path(time_slot) %>" class="list-group-item <%= session[:time_slot_id_selected] == time_slot.id ? 'active' : '' %>"><%= "#{ parse_time(time_slot.starts_at)} to #{parse_time(time_slot.ends_at)}" %></a>
          <%end%>
        </div>
        <p><%= link_to "Confirm", new_contact_path , :class => "btn btn-success btn-lg btn-block #{session[:time_slot_id_selected] ? '' : 'disabled' }" %></p>
        <p>Times in Pacific Standard Time (PST)</p>
    <%else%>
        <h4>No Event Selected</h4>
    <%end%>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <div class="selected-service">
      <small>Selected service</small>
      <h4>List group item heading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <p>
        <span class="price">$100.00</span>
        <span class="duration">90 minutes</span>
      </p>
      <p><a href="#" class="btn btn-default">Change</a></p>
    </div>

  </div>

</div><!--row-->


<script type="text/javascript">


    $.ajaxSetup({
        beforeSend: function(xhr) {
            xhr.setRequestHeader("Accept", "text/javascript");
        }
    });


    $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            editable: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month',
            height: 500,
            slotMinutes: 15,

            loading: function(bool){
                if (bool)
                    $('#loading').show();
                else
                    $('#loading').hide();
            },

            // a future calendar might have many sources.
            eventSources: [{
                url: '/events',
                color: 'yellow',
                textColor: 'black',
                ignoreTimezone: false
            }],

            timeFormat: 'h:mm t{ - h:mm t} ',
            dragOpacity: "0.5",

            //http://arshaw.com/fullcalendar/docs/event_ui/eventDrop/
            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                updateEvent(event);
            },

            // http://arshaw.com/fullcalendar/docs/event_ui/eventResize/
            eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                updateEvent(event);
            },

            // http://arshaw.com/fullcalendar/docs/mouse/eventClick/
            eventClick: function(event, jsEvent, view){
                //alert("selected");
                //return false;

            }
        });
    });

    function updateEvent(the_event) {
        $.update(
                "/events/" + the_event.id,
                { event: { title: the_event.title,
                    starts_at: "" + the_event.start,
                    ends_at: "" + the_event.end,
                    description: the_event.description
                }
                },
                function (reponse) { alert('successfully updated task.'); }
        );
    };

</script>






