<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @event.service_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>From:</strong>
  <%= @event.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @event.to %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
