<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="row">
      <div class="col-md-10">
        <h1>Bobs Hairdressers</h1>
        <p class="lead">Please add your details to confirm appointment</p>
      </div>
    </div>





    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-3">
        <label>First Name</label>
        <%= f.text_field :first_name, class: 'form-control', :required => true %>
      </div>
      <div class="col-md-3">
        <label>Last Name</label>
        <%= f.text_field :last_name, class: 'form-control', :required => true %>
      </div>
      <div class="col-md-3">
        <label>Email Address</label>
        <%= f.text_field :email_address, class: 'form-control', :required => true %>
      </div>
      <div class="col-md-3">
        <label>Phone Number</label>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12 payment-details">
        <h3>Add Payment Method</h3>
        <p class="lead">Bob's Hairdressers requires pre-payment to hold appointments.</p>
        <p class="text-muted">If you decide to cancel your appointment, you will be refunded 100%.</p>
      </div>
      <div class="col-md-6">
        <label>Credit Card Number</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label>Exipration Date</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label>Billing Zip Code</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <hr>

    <div class="row">
      <%if @event %>
          <div class="col-md-6">
            <div class="selected-service">
              <small>Selected service</small>
              <h4><%= @event.service.name %></h4>
              <p><%= @event.service.description %></p>
              <p>
                <span class="price"> <%= number_to_currency @event.service.price %></span>
                <span class="duration"><%= @event.service.minutes_duration %> minutes</span>
              </p>
              <p><a href="<%=calendar_path%>" class="btn btn-default">Change</a></p>
            </div>

          </div>
      <%end%>

      <%if @time_slot %>
          <div class="col-md-6">
            <div class="selected-service">
              <small>Selected Date</small>
              <h4><%= "#{ parse_datetime(@time_slot.starts_at)} to #{parse_time(@time_slot.ends_at)}" %></h4>
              <div class="list-group">
                <a href="#" class="list-group-item active">
                  <%= "#{ parse_time(@time_slot.starts_at)} to #{parse_time(@time_slot.ends_at)}" %>
                </a>
              </div>

              <p><%= link_to "Change", calendar_path, :class => "btn btn-default" %></p>
            </div>
          </div>
      <%end%>

    </div><!--row-->

    <div class="row">
      <div class="col-md-4">
        <p><%= f.submit "Confirm appointment", :class => "btn btn-success btn-lg btn-block" %></p>
        <p><small>Your appointment will be confirmed and your credit card will be charged $100.</small></p>
      </div>
    </div>

    <!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  -->
<% end %>
